{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}

{% block content %}
    <!-- Showcase -->
    <section id="showcase">
        <div class="container text-center">
            <div class="home-search p-5">
                <div class="overlay p-5">
                    <h1 class="display-4 mb-4">
                        Where Pets Find Their People
                    </h1>
                    <h3 class="display-6 mb-4">
                        Thousands of adoptable pets are looking for people. People Like You
                    </h3>
                    <br><br>
                    <a class="btn btn-primary" href="{% url 'pets' %}" role="button"> Find your new friend now </a>
                </div>
            </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-5">
        <div class="container">
            <h3 class="text-center mb-3">Latest Pets</h3>
            <div class="row">
                {% if pets %}
                    {% for pet in pets %}
                        <!-- Listing -->
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card listing-preview">
                                <img class="card-img-top" src="{{ pet.photo_main.url }}" alt="">
                                <div class="card-body">
                                    <div class="listing-heading text-center">
                                        <h4 class="text-primary">{{ pet.name }}</h4>
                                        <p>
                                            <i class="fas fa-map-marker text-secondary"></i> {{ pet.city }}</p>
                                    </div>
                                    <hr>
                                    <a href="{% url 'pet' pet.id %}" class="btn btn-primary btn-block">More Info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No listings available</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}